@model List<KiralamaDetayViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="ibox-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Admin</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/index">Admin</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Kiralama</strong>
                </li>
            </ol>

        </div>
    </div>
    <table class="footable table table-stripped toggle-arrow-tiny">
        <thead>
            <tr>

                <th data-toggle="true">Araba İsmi</th>
                <th>Fatura No</th>
                <th>Günlük Ücret</th>
                <th>Başlangıç Tarihi</th>
                <th>Toplam Adet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Araba.Marka @item.Araba.Model</td>
                    <td>@item.FaturaNo</td>
                    <td>@item.GunlukUcret</td>
                    <td>@item.BaslangicTarihi</td>
                    <td>@item.ToplamAdet</td>
                    
                    @* <td>20%</td>
                <td>Jul 14, 2013</td>
                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>*@
                </tr>
            }
        </tbody>
    </table>

</div>


